pre{border-left-color: black;

}
p{
    color: rgb(90, 13, 235);
}
/* james mukuvi */
body{
    background-color: coral;
}
#yoh{
    background-color: blueviolet;
    font-size: large;
    opacity: 0.3;
}
b{
    margin-left: 60%;
    margin-top: 50%;
}

   a{ background-color:magenta;
    margin-top: 50px;
    font-size: large;
    color: black;
    }
    h4{
        color: chartreuse;
        font-style: oblique;
        margin-left: 70;
        border-color: deeppink;
        border-style: groove;
    }
    

    